* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E3F6FB;
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    src: url(./Inter-Medium.ttf);
}


header {
    height: 80px;
    background-color: #1D979E;
    display: grid;
    grid-template-columns: 1fr 1fr 0.25fr;
}
.language{
    justify-self: center;
    align-self: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}
.logo {
    justify-items: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text_logo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}
button{
    text-decoration: none;
    border: none;
    background-color: #1D979E;
    
}
.wrap_menu{
    justify-self: center;
    align-self: center;
}
a{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    color: #FFFFFF;

}
.menu {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.advantage {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #E3F6FB;
    height: 900px;
}

.heading {
    justify-self: center;
    align-self: center;
    margin-left: 50px;
}

.heading_o {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;

    color: #096C72;
    padding-top: 120px;
    padding-right: 50px;
}



.advantages {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:1fr 1fr;
    grid-gap: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

.advantages > p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #096C72;
    justify-self: center;
    align-self: center;
}
@media(max-width:783px){
    .advantage {
        height: 1600px;
    }
}

@media (max-width: 576px) {
    .advantages {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .heading {
        background: none;

    }

    .heading_o {
        font-size: 32px;
    }

    .advantage {
        height: 1800px;
        grid-template-rows: 1fr 50fr;
    }
    /* выподающее меню*/
    .dropbtn{
        background: url(./image/dropdown.png) no-repeat;
        color: black;
        padding: 16px;
        padding-left: 30px;
        font-size: 16px;
        border: none;
        margin-right: 20px;
    }
    .wrap_menu{
        position: relative;
        display: inline-block;
        justify-self: center;
        align-self: center;
        

    }
    .menu{
        display: none;
        position: absolute;
        background-color: aqua;
        min-width: 140px;
        box-shadow: 0px 4px 6px 0px #1D979E;
        z-index: 1;
        margin-top: 15px;
        right:-40px;
    }
    .menu a{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        
        
    }
    .menu a:hover{
        background-color: #ddd;
    }

    .wrap_menu:hover .menu{
        display: block;
        
    }
    .wrap_menu:hover .dropbtn{
        background:url(./image/dropdown_1.png) no-repeat;
    }

}


.doc {
    height: 700px;
    display: grid;
    grid-template-rows: 1fr 4fr;
    margin-left: 100px;
    margin-right: 100px;
}

.head {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;

    color: #096C72;
}
@media(max-width: 457px){
    .head {
        font-size: 48px;
    }
}
.box1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    align-self: center;
    grid-gap: 20px;
}

.box1 > p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #096C72;
    justify-self: center;
    align-self: center;
}

.img {
    justify-self: center;
    align-self: center;
    height: 394px;
    width: 600px;
    background: url("image/1.png") no-repeat;
}


@media (max-width: 909px) {
    .box1 {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }

    .doc {
        height: 900px;
    }
}

@media (max-width: 721px) {
    .img {
        background: url("image/small_1.png") no-repeat;
        height: 208px;
        width: 306px;
    }
}
@media(max-width: 564px){
    .doc {
        height: 700px;
        display: grid;
        grid-template-rows: 1fr 4fr;
        margin-left: 15px;
        margin-right: 15px;
    }
    .doc {
        height: 1000px;
    }
}

.header_doc {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;

    color: #096C72;
    grid-column: 1/3;
}

.description_doc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 900px;
    margin-left: 100px;
    margin-right: 100px;
}

@media (max-width: 710px) {
    .description_doc {
        height: 1600px;

        margin-left: 15px;
        margin-right: 15px;
    }
}
@media (max-width: 799px) {
    .description_doc {
        height: 1400px;

        margin-left: 15px;
        margin-right: 15px;
    }
}

.aboute_doc1 {
    grid-row: 2;
    grid-column: 1;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #096C72;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.aboute_doc2 {
    grid-row: 3;
    grid-column: 2;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #096C72;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.aboute_doc3 {
    grid-row: 4;
    grid-column: 1;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #096C72;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.aboute_doc4 {
    grid-row: 5;
    grid-column: 2;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #096C72;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 10fr;
}
@media(max-width:713px){
    .description_doc {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 900px;
    }
    .aboute_doc1 {
        grid-row: 2;
        grid-column: 1;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    
        color: #096C72;
        justify-self: center;
        align-self: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr;
    }
    
    .aboute_doc2 {
        grid-row: 3;
        grid-column: 1;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    
        color: #096C72;
        justify-self: center;
        align-self: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr;
    }
    
    .aboute_doc3 {
        grid-row: 4;
        grid-column: 1;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    
        color: #096C72;
        justify-self: center;
        align-self: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr;
    }
    
    .aboute_doc4 {
        grid-row: 5;
        grid-column: 1;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    
        color: #096C72;
        justify-self: center;
        align-self: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr;
    }
    .img_doc{
        justify-self: center;
        align-self: center;
    }
    .description_doc {
        height: 1200px;
    }
    .header_doc {
        font-size: 48px;
    }
}
@media(max-width:366px){
    .header_doc{
        font-size: 36px;
    }
}

.transport_doc {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

@media (max-width: 710px) {
    .transport_doc {
        height: 900px;
    }
}

.header_transport_doc {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    grid-column: 1/3;;
    color: #096C72;
}

.text_transport_doc {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #096C72;
    justify-self: center;
    align-self: center;
}

.buttom_transport_doc {
    width: 293px;
    height: 56px;
    left: 0;
    top: 0;

    background: #FFFFFF;
    border-radius: 30px;
    grid-column: 1/3;
    justify-self: center;
    align-self: center;
}

.text_buttom_transport_doc {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #096C72;

    padding-top: 15px;
}
@media(max-width:611px){
    .header_transport_doc {
        font-size: 48px;
        grid-column: 1;;

    }
    .transport_doc {
        height: 800px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .buttom_transport_doc{
        grid-column: 1;
    }
}

/*консолидация грузов*/

.consol_box {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 1fr;
    margin-left: 100px;
    margin-right: 100px;
    grid-gap: 30px;
}

.consol_header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;

    color: #096C72;
    grid-column: 1/3;
}

.img_consol {
    background: url("image/Otvetstvennoe-hranenie_1.png") no-repeat;
    justify-self: center;
    align-self: center;
    height: 392px;
    width: 677px;
}

.text_consol {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #247D83;
    justify-self: center;
    align-self: center;
}

@media (max-width: 1000px) {
    .consol_box {
        grid-template-rows:1fr 3fr 2fr;
        grid-template-columns: 1fr;
    }

    .consol_header {
        grid-column: 1;
    }
}


@media (max-width: 800px) {
    .consol_box {
        grid-template-rows:1fr 1fr 1fr;
        grid-template-columns: 1fr;
        margin-left: 15px;
        margin-right: 15px;
    }

    .img_consol {
        background: url("image/small_Otvetstvennoe-hranenie_1.png") no-repeat;
        height: 218px;
        width: 354px;
    }
    .consol_header {
        font-size: 48px;
    }
    
}


/*страхование*/

.insurance_box {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.insurance_header {
    grid-column: 1/3;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;

    color: #096C72;
}

.insurance_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #096C72;
    justify-self: center;
    align-self: center;
}
@media(max-width:600px){
    .insurance_box {
        display: grid;
        grid-template-rows: 1fr 4fr;
        grid-template-columns: 1fr 1fr;
        margin-top: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }
}
@media(max-width:500px){
    .insurance_box {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2fr;
    }
    .insurance_header {
        grid-column: 1;
    }
    .insurance_header {
        font-size: 48px;
    }
}

/*о нас*/

.about_us {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 3fr;
    margin-left: 100px;
    margin-right: 100px;
    grid-row-gap: 20px;
}

.about_us_header {
    grid-column: 1/5;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;

    color: #096C72;
    justify-self: center;
    align-self: center;
}

.box_about_us_many_text {
    grid-column: 3/5;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #096C72;
}

.box_about_us_text {
    grid-column: 1/3;
    align-self: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;

    color: #096C72;
}

@media (max-width: 1000px) {
    .about_us {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 2.5fr;
    }

    .about_us_header {
        grid-column: 1/3;
    }

    .box_about_us_many_text {
        grid-column: 1/3;
    }

    .box_about_us_text {
        grid-column: 1/3;
    }

    .box_about_us {
        justify-self: center;
        align-self: center;
    }
}

@media (max-width: 576px) {
    .about_us {
        margin-left: 15px;
        margin-right: 15px;
    }
}
@media(max-width: 477px){
    .about_us{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 0.5fr 2.5fr;
    }
    .about_us_header {
        grid-column: 1;
    }

    .box_about_us_many_text {
        grid-column: 1;
    }

    .box_about_us_text {
        grid-column: 1;
    }
}


/*контакты*/

.contact_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
@media(max-width:611px){
    .contact_box {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.contact_header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;

    color: #096C72;
    grid-column: 1/3;
}

.contact_email {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #096C72;
    grid-column: 2;
    grid-row: 3;
}

.contact_phone {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #096C72;
    grid-row: 4;
}

.contact_messengers {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #096C72;
}
@media(max-width: 481px){
    
.contact_email {
    font-size: 18px;
}

.contact_phone {
    font-size: 18px;
}

.contact_messengers {
    font-size: 18px;
}
}


footer {

    background-color: #1D979E;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;

    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.menu_footer a{
    display: block;
    padding: 5px;
}
.logo {
    justify-items: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text_logo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}
.info_footer{
    font-size: 12px;
}
@media(max-width:660px){
    footer{
        grid-template-columns: 1fr 1fr;
    }
}